.stars-container {
  position: fixed;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(37, 0, 54, 1) 0%, rgba(0, 8, 56, 1) 100%);
}

canvas {
  width: 100%;
  height: 100%;
}

