

.fContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100vh;
}


.container {
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  padding-block: 100px;
  z-index: 5;
}
