.generationContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  color: white;
  font-weight: 900;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title span {
  color: rgb(245, 188, 250);
}

form, .linkData {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: rgba(79, 48, 104, 0.664);
  backdrop-filter: blur(5px);
  padding-block: 15px;
  padding-inline: 20px ;
  border-radius: 15px;
  height: 70px;
}

.linkData {
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
}

input {
  height: 70px;
  width: 650px;
  border: none;
  display: flex;
  border-radius: 15px;
  font-size: 1.6rem;
  padding-inline-start: 20px;
  background-color: rgb(100, 79, 117);
  color: rgb(242, 232, 255);
}

input::placeholder {
  color:rgba(200, 157, 255, 0.445) ;
}

.generate {
  height: 70px;
  width: 150px;
  border-radius: 15px;
  background: rgb(156, 161, 255);
  cursor: pointer;
  transition: 150ms linear;
  color:rgb(242, 232, 255);
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  user-select: none;
  border: none;
}

.generate:enabled:hover {
  background-color:rgb(140, 54, 180);
  border-right: none;
  border-bottom: none;
  transform: scale(1.02);
}

.generate:disabled {
  cursor: default;
  background: rgba(156, 161, 255, 0.575);
  user-select: none;
}

.linkData .ok {
  width: 50px;
  height: 50px;
  background-color: rgba(156, 161, 255, 0.575);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  grid-row: span 2;
}

.linkData .ok img {
  height: 30px;
}

.linkData .info{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  max-width: 300px;
  column-gap: 20px;
}

.linkData .info span {
  display: flex;
  align-items: center;
}

.data1 {
  font-size: 1.3rem;
  color: rgb(221, 209, 255);
}

.data2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.copy {
  background: none;
  border: 1px rgb(156, 161, 255) solid;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 150ms linear;
  cursor: pointer;
}

.copy img {
  width: 1.4rem;
}

.copy:hover {
  background-color: rgb(156, 161, 255);
}
