/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
